.imageFullHeight
{
    height: 70%;
}

.opitzNoBorderImage{
    border: none!important;
    box-shadow: none!important;
}



div{
    border:blue;
    border-width: 1px;
}

.qr_captions
{
    font-size: 70%;
    font-weight: 400;
}